<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="firstdiv">
            <div>
                <ul class="navbar">
                    <li class="button round_white_border" id="home">Home</li>
                    <li class="button round_white_border" id="discover">Discover</li>
                    <li class="button round_white_border" id="Poem">Poem</li>
                </ul>
            </div>
            <div class="weatherbox flex_column_center round_white_border">
                <img src=' <%= icon %> '>
                <span> <%= type %> </span>
                <span> <%= data %> °C </span>
                <span> <%= location[0] %>, <%= location[1] %> </span>
                <span class="infobox round_white_border">
                    Feels Like : <%= info[0] %> °C  <br><br>
                    Pressure    : <%= info[1] %> <br><br>
                    Humidity   : <%= info[2] %>
                </span>
            </div>
            <form class="inputbox flex_row_center" 
            action="/" method="post">
                <input type="text" class="round_white_border" 
                name="location" placeholder="Enter Your City Name" required>
                <button class="button round_white_border">Enter</button>
            </form>
        </div>
        <div class="seconddiv">
            <div class="card"> 
                <img class="image" src="/images/rain.jpg">
                <span class="child1"> Fukuoka </span>
                <span class="child2"> The City of Sea and Breeze </span>
                <div class="child3"></div>
            </div>
            <div class="card">
                <img class="image" src="/images/paris.jpeg">
                <span class="child1"> Paris </span>
                <span class="child2"> The Romance Capital of Europe </span>
                <div class="child3"></div>
            </div>
            <div class="card">
                <img class="image" src="/images/kyoto.jpg">
                <span class="child1"> Kyoto </span>
                <span class="child2"> The City of Shrines </span>
                <div class="child3"></div>
            </div>
        </div>
        <script src="/js/index.js"> </script>
    </body>
</html>