<%- include('./partials/head.ejs') %>
<div class="firstdiv">
    <%- include('./partials/navbar.ejs') %>
    <div class="weatherbox flex_column_center round_white_border">
        <img src=' <%= icon %> '>
        <span> <%= type %> </span>
        <span> <%= temp %> °C </span>
        <span> <%= location[0] %>, <%= location[1] %> </span>
        <span class="infobox round_white_border">
            Feels Like : <%= info[0] %> °C  <br><br>
            Pressure    : <%= info[1] %> <br><br>
            Humidity   : <%= info[2] %>
        </span>
    </div>
    <form class="inputbox flex_row_center" 
    action="/" method="post">
        <input type="text" class="round_white_border" 
        name="location" placeholder="Enter Your City Name" required>
        <button class="button round_white_border"
        style="font-family: 'Roboto', sans-serif;">
            Enter
        </button>
    </form>
</div>
<%- include('./partials/end.ejs') %>