<%- include('./partials/head.ejs') %>
<div class="firstdiv">
    <%- include('./partials/navbar.ejs') %>
    <div class="weatherbox flex_column_center round_white_border">
        <img src=' <%= icon %> '>
        <span> <%= type %> </span>
        <span> <%= temp %> °C </span>
        <span> <%= location[0] %>, <%= location[1] %> </span>
        <span class="infobox round_white_border">
            Feels Like : <%= info[0] %> °C  <br><br>
            Pressure    : <%= info[1] %> <br><br>
            Humidity   : <%= info[2] %>
        </span>
    </div>
    <form class="inputbox flex_row_center" 
    action="/" method="post">
        <input type="text" class="round_white_border" 
        name="location" placeholder="Enter Your City Name" required>
        <button class="button round_white_border">Enter</button>
    </form>
</div>
<div class="seconddiv">
    <a href="/fukuoka">
        <div class="card"> 
            <img class="image" src="/images/rain.jpg">
            <span class="child1"> Fukuoka </span>
            <span class="child2"> The City of Sea and Breeze </span>
            <div class="child3"></div>
        </div>
    </a>
    <a href="/paris">
        <div class="card">
            <img class="image" src="/images/paris.jpeg">
            <span class="child1"> Paris </span>
            <span class="child2"> The Romance Capital of Europe </span>
            <div class="child3"></div>
        </div>
    </a>
    <a href="/kyoto">
        <div class="card">
            <img class="image" src="/images/kyoto.jpg">
            <span class="child1"> Kyoto </span>
            <span class="child2"> The City of Shrines </span>
            <div class="child3"></div>
        </div>
    </a>
</div>
<div class="thirddiv" >
    <div class="textwrapper">
        <header class="header3">
            <span> Surrealism </span>
        </header>
        <span class="sub3-1" id="sub3-1">
            She discovered the world where dreams defy gravity 
        </span>
    </div>
</div>
<%- include('./partials/end.ejs') %>